APP_NAME=
APP_ENV=
APP_HOST=
APP_PORT=

OPENROUTER_API_KEY=
OPENROUTER_API_KEY_FALLBACK=
OPENROUTER_BASE_URL=
PRIMARY_MODEL=
FALLBACK_MODEL=
FALLBACK_SECONDARY_MODEL=

POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

WHATSAPP_API_TOKEN=
WHATSAPP_API_URL=